$menu-text-color:#ffffff;
// $menu-background-color:#001529;
$menu-background-color:#1F9F85;
// $menu-background-hover:#00284d;
$menu-background-hover:#1F9F85;
// $menu-active-text:#1890ff;
$menu-active-text:#1890ff;